
@{
    ViewBag.Title = "Cosecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #283618;">Cosecha del terreno</h2>

<div class="card">
    <div class="card-header" style="color: #283618;">
        Datos registrados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" style="background-color: #606C37; border-color: #606C37;" onclick="OpenModal(null)">Agregar</button>
            </div>
        </div>
        <hr />
        <table id="table" class="display cell-border" style="width:100%; color: #283618;">
            <thead>
                <tr>
                    <th>Terreno</th>
                    <th>Costo Por Cosecha</th>
                    <th>Costo Por Lavado</th>
                    <th>Costo Por Saco</th>
                    <th>Costo Por Transporte Carga</th>
                    <th>Costo Por Lavado Quintal</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-white" style="background: #606C37;">
                <h5 class="modal-title" id="exampleModalLabel">Registro de información para tratamiento del terreno</h5>
            </div>
            <div class="modal-body">

                @*This input has the ID of the user that will be update on the BBDD*@
                <input id="txtID" type="hidden" value="0" />
                <form>
                    <div class="row">
                        <h6 class="modal-title" id="exampleModalLabel" style="color: #283618; text-align: center;">Datos del terreno</h6>
                        <div class="col">
                            <label for="txtCodigo" class="form-label" style="color: #283618;">Código del terreno</label>
                            <input type="text" class="form-control" id="txtCodigo" placeholder="T-XXX" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="modal-title" id="exampleModalLabel" style="color: #ffffff; text-align: center;">.</h6>
                        <div class="col">
                            <label for="txtCostoPorCosecha" class="form-label" style="color: #283618;">Costo Por Cosecha ₡</label>
                            <input type="number" id="txtCostoPorCosecha" value="" required>
                        </div>
                        <div class="col">
                            <label for="txtCostoPorLavado" class="form-label" style="color: #283618;">Costo por lavado ₡</label>
                            <input type="number" id="txtCostoPorLavado" value="100000" required>
                        </div>
                        <div class="col">
                            <label for="txtCostoPorSaco" class="form-label" style="color: #283618;">Costo por saco ₡</label>
                            <input type="number" id="txtCostoPorSaco" value="100000" required>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="modal-title" id="exampleModalLabel" style="color: #ffffff; text-align: center;">.</h6>
                        <div class="col">
                            <label for="txtCostoPorTransporteCarga" class="form-label" style="color: #283618;">Costo transporte carga ₡</label>
                            <input type="number" id="txtCostoPorTransporteCarga" value="100000" required>
                        </div>
                        <div class="col">
                            <label for="txtCostoPorLavadoQuintal" class="form-label" style="color: #283618;">Costo lavado quintal ₡</label>
                            <input type="number" id="txtCostoPorLavadoQuintal" value="100000" required>
                        </div>
                    </div>
                </form>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="errorMessage" class="alert alert-danger" role="alert">
                            A simple danger alert-check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" style="background-color: #606C37; border-color: #606C37;" onclick="InsertarDatosCosecha()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>

        var tableData;
        var rowSelected;

        $(document).ready(function () {
            tableData = $("#table").DataTable({

                responsive: true,
                ordering: false,
                dom: 'lfrtip',
                "ajax": {

                    url: '@Url.Action("CosechaInfoList", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "idTerreno" },
                    { "data": "costoPorCosecha" },
                    { "data": "costoPorLavado" },
                    { "data": "costoPorSaco" },
                    { "data": "costoPorTransporteCarga" },
                    { "data": "costoPorLavadoQuintal" },
                    { "data": "resultadoCosecha" }

                ],
                "language": { "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" }
            });
        });

    function OpenModal(json) {

        $("#txtID").val(0);
        $("#txtCodigo").val("");
        $("#txtCostoPorCosecha").val("");
        $("#txtCostoPorLavado").val("");
        $("#txtCostoPorSaco").val("");
        $("#txtCostoPorTransporteCarga").val("");
        $("#txtCostoPorLavadoQuintal").val("");

        $("#errorMessage").hide();

        $("#FormModal").modal("show");
    }

    function InsertarDatosCosecha() {

            var CosechaDatos = {

                id: $("#txtID").val(),
                idTerreno: $("#txtCodigo").val(),
                costoPorCosecha: $("#txtCostoPorCosecha").val(),
                costoPorLavado: $("#txtCostoPorLavado").val(),
                costoPorSaco: $("#txtCostoPorSaco").val(),
                costoPorTransporteCarga: $("#txtCostoPorTransporteCarga").val(),
                costoPorLavadoQuintal: $("#txtCostoPorLavadoQuintal").val(),
            }

            jQuery.ajax({
                url: '@Url.Action("InsertarDatosCosecha", "Home")',
                type: "POST",
                data: JSON.stringify({ objCosecha: CosechaDatos }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //To register the new information in the table and hide the modal
                    if (CosechaDatos.id == 0) {

                        if (data.result != 0) {

                            CosechaDatos.id = data.result;
                            tableData.row.add(CosechaDatos).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {

                            $("#errorMessage").text(data.message);
                            $("#errorMessage").show();
                        }
                    }
                },
                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#errorMessage").text("Error Ajax");
                    $("#errorMessage").show();

                },//beforeSend allow to do something during the success case is executing
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });
        }

</script>