
@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #283618;">Desgloce de costos</h2>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <select id="cboTerrenos" class="form-select">
                    <option value="0">Seleccione el terreno</option>
                </select>
                <div>
                    <br />
                    <button type="button" class="btn btn-success" style="background-color: #606C37; border-color: #606C37;" onclick="ConsultarTerreno()">Consultar</button>
                </div>
                
            </div>
        </div>
        <hr />
        <table id="table" class="display cell-border" style="width:100%; color: #283618;">
            <thead>
                <tr>
                    <th>Terreno</th>
                    <th>Tratamiento</th>
                    <th>Labranza</th>
                    <th>Siembra</th>
                    <th>Mantenimiento</th>
                    <th>Cosecha</th>
                    <th>Producción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    /*dropDownList para terreno*/

        $.ajax({
            url:'@Url.Action("ListarTerrenos", "Home")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                var terrenos = $("#cboTerrenos");
                var datos = data.data;
                $(datos).each(function (i, v) {
                    terrenos.append('<option value="' + v.idTerreno + '">' + v.idTerreno + '</option>');
                });
            },
            error: function () {
                console.log('error con el dropDownList de terrenos :(')
            }
        });

        function ConsultarTerreno() {
            if ($.fn.DataTable.isDataTable('#table')) {
                $('#table').DataTable().destroy(); // Destruir la instancia previa de DataTables si existe
            }
            var idTerreno = $("#cboTerrenos").val(); // Obtener el valor seleccionado del combobox
            cargarDatos(idTerreno); // Llamar a la función cargarDatos con el idTerreno seleccionado
        }

        var tableData;
        var rowSelected;

            // Definir la función para cargar los datos según el idTerreno seleccionado
            function cargarDatos(idTerreno) {
                tableData = $("#table").DataTable({
                    responsive: true,
                    ordering: false,
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i>',
                            titleAttr: 'Exportar a PDF',
                            className: 'btn btn-margin btn-colorPdf',
                            orientation: 'landscape',
                            attr: {
                                id: 'btnPdf' // Agrega el ID 'btnPdf' al botón de PDF
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i>',
                            titleAttr: 'Exportar a Excel',
                            className: 'btn btn-margin btn-colorExcel',
                            attr: {
                                id: 'btnExcel' // Agrega el ID 'btnExcel' al botón de Excel
                            }
                        }
                    ],
                    buttonContainer: '<div class="btn-group"></div>',
                    "ajax": {
                        url: '@Url.Action("ListarCostosProduccion", "Home")',
                        type: "GET",
                        dataType: "json",
                        data: {idTerreno: idTerreno },
                    },
                    "columns": [
                        { "data": "idTerreno" },
                        { "data": "Tratamiento" },
                        { "data": "Labranza" },
                        { "data": "Siembra" },
                        { "data": "Mantenimiento" },
                        { "data": "Cosecha" },
                        { "data": "Produccion" }
                    ],
                    "language": { "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" }
                });
                var btnMarginStyle = document.createElement('style');
                btnMarginStyle.innerHTML = '.btn-margin { margin-right: 5px; margin-left: 5px; }';
                document.head.appendChild(btnMarginStyle);
                var btnColorPdf = document.createElement('style');
                btnColorPdf.innerHTML = '.btn-colorPdf { background-color: #606C37 } .btn-colorPdf:hover { background-color: #606C37 }';
                document.head.appendChild(btnColorPdf);
                var btnColorExcel = document.createElement('style');
                btnColorExcel.innerHTML = '.btn-colorExcel { background-color: #606C37 } .btn-colorExcel:hover { background-color: #606C37 }';
                document.head.appendChild(btnColorExcel);

            }

</script>