
@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #283618;">Resultados</h2>

<div class="card">
    <div class="card-header" style="color: #283618;">
        Datos registrados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" style="background-color: #606C37; border-color: #606C37;" onclick="OpenModal(null)">Agregar</button>
            </div>
        </div>
        <hr />
        <table id="table" class="display cell-border" style="width:100%; color: #283618;">
            <thead>
                <tr>
                    <th>Terreno</th>
                    <th>Costo Total Animal</th>
                    <th>Costo Por Aporcamiento</th>
                    <th>Costo Por Fertilizacion</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>