
@{
    ViewBag.Title = "Siembra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #283618;">Siembra del terreno</h2>

<div class="card">
    <div class="card-header" style="color: #283618;">
        Datos registrados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" style="background-color: #606C37; border-color: #606C37;" onclick="OpenModal(null)">Agregar</button>
            </div>
        </div>
        <hr />
        <table id="table" class="display cell-border" style="width:100%; color: #283618;">
            <thead>
                <tr>
                    <th>Terreno</th>
                    <th>Costo mano de obra animal</th>
                    <th>Costo mano de obra siembra</th>
                    <th>Costo Por Tapado</th>
                    <th>Costo Por Fertilizacion</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-white" style="background: #606C37;">
                <h5 class="modal-title" id="exampleModalLabel">Registro de información para tratamiento del terreno</h5>
            </div>
            <div class="modal-body">

                @*This input has the ID of the user that will be update on the BBDD*@
                <input id="txtID" type="hidden" value="0" />
                <form>
                    <div class="row">
                        <h6 class="modal-title" id="exampleModalLabel" style="color: #283618; text-align: center;">Datos del terreno</h6>
                        <div class="col">
                            <label for="txtCodigo" class="form-label" style="color: #283618;">Código del terreno</label>
                            <input type="text" class="form-control" id="txtCodigo" placeholder="T-XXX" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="modal-title" id="exampleModalLabel" style="color: #ffffff; text-align: center;">.</h6>
                        <div class="col">
                            <label for="txtCostoPorSucroAnimal" class="form-label" style="color: #283618;">Costo Por Sucro Animal</label>
                            <input type="number" class="form-control" id="txtCostoPorSucroAnimal" value="100000" required>
                        </div>
                        <div class="col">
                            <label for="txtCostoPorRegadoPapa" class="form-label" style="color: #283618;">Costo Por Regado Papa ₡</label>
                            <input type="number" id="txtCostoPorRegadoPapa" value="100000" required>
                        </div>
                        <div class="col">
                            <label for="txtCostoPorTapado" class="form-label" style="color: #283618;">Costo Por Tapado ₡</label>
                            <input type="number" id="txtCostoPorTapado" value="100000" required>
                        </div>
                        <div class="col">
                            <label for="txtHorasPorFertilizacion" class="form-label" style="color: #283618;">Costo Por Fertilizacion</label>
                            <input type="number" id="txtHorasPorFertilizacion" value="100000" required>
                        </div>
                    </div>
                </form>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="errorMessage" class="alert alert-danger" role="alert">
                            A simple danger alert-check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" style="background-color: #606C37; border-color: #606C37;" onclick="InsertarDatosSiembra()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>

        var tableData;
        var rowSelected;

        $(document).ready(function () {
            tableData = $("#table").DataTable({

                responsive: true,
                ordering: false,
                dom: 'lfrtip',
                "ajax": {

                    url: '@Url.Action("SiembraInfoList", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "idTerreno" },
                    { "data": "costoPorSucroAnimal" },
                    { "data": "costoPorRegadoPapa" },
                    { "data": "costoPorTapadoPap" },
                    { "data": "costoPorFertilizacion" },
                    { "data": "resultadoSiembra" }

                ],
                "language": { "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" }
            });
        });

    function OpenModal(json) {

        $("#txtID").val(0);
        $("#txtCodigo").val("");
        $("#txtCostoPorSucroAnimal").val("");
        $("#txtCostoPorRegadoPapa").val("");
        $("#txtCostoPorTapado").val("");
        $("#txtHorasPorFertilizacion").val("");

        $("#errorMessage").hide();

        $("#FormModal").modal("show");
    }

    //Function to validate that the number is valid
    function esNumeroValido(numero) {
        return numero.trim() !== "" && !isNaN(numero.trim());
    }
    //Function to show the error message
    function mostrarError(mensaje) {
        $("#errorMessage").text(mensaje);
        $("#errorMessage").show();
    }

    function InsertarDatosSiembra() {

            var SiembraDatos = {

                id: $("#txtID").val(),
                idTerreno: $("#txtCodigo").val(),
                costoPorSucroAnimal: parseFloat($("#txtCostoPorSucroAnimal").val()),
                costoPorRegadoPapa: parseFloat($("#txtCostoPorRegadoPapa").val()),
                costoPorTapadoPap: parseFloat($("#txtCostoPorTapado").val()),
                costoPorFertilizacion: $("#txtHorasPorFertilizacion").val(),
            }

            // Validar que los campos no estén vacíos y que los costos sean valores numéricos
            if (SiembraDatos.idTerreno.trim() === "") {
                mostrarError("El campo Código del terreno es obligatorio.");
                return;
            }
            if (!esNumeroValido(SiembraDatos.costoPorSucroAnimal) || !esNumeroValido(SiembraDatos.costoPorRegadoPapa)
                || !esNumeroValido(SiembraDatos.costoPorTapadoPap) || !esNumeroValido(SiembraDatos.costoPorFertilizacion)) {
                mostrarError("Los campos de costo deben ser valores numéricos.");
                return;
            }

            jQuery.ajax({
                url: '@Url.Action("InsertarDatosSiembra", "Home")',
                type: "POST",
                data: JSON.stringify({ objSiembra: SiembraDatos }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //To register the new information in the table and hide the modal
                    if (SiembraDatos.id == 0) {

                        if (data.result != 0) {

                            SiembraDatos.id = data.result;
                            SiembraDatos.resultadoSiembra = data.costo;
                            tableData.row.add(SiembraDatos).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {

                            $("#errorMessage").text(data.message);
                            $("#errorMessage").show();
                        }
                    }
                },
                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#errorMessage").text("Error Ajax");
                    $("#errorMessage").show();

                },//beforeSend allow to do something during the success case is executing
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });
        }

</script>